@value colors: 'colors.css';
@value primary1, primary1opaque5, additional1, secondary3 from colors;

.container {
  background: #fff;
  border-radius: 4px;
  margin-bottom: 20px;
  overflow: hidden;
}

.header {
  background: primary1;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin: -1px;
  padding-top: 2px;
}

.item {
  background: additional1;
  color: primary1opaque5;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  line-height: 23px;
  margin: 1px;
  width: calc((100% - 6px) / 3);
}

.isActive,
.item:hover {
  background: secondary3;
  color: rgba(255, 255, 255, .5);
}
