@value constants: 'constants.css';
@value additional12, color1, maxWidth from constants;

.spacer {
  height: 59px;
  width: 100%;
}

.container {
  background: color1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 4;
}

.wrap {
  align-items: center;
  display: flex;
  height: 59px;
  margin: 0 auto;
  max-width: maxWidth;
  padding: 0 15px;
  position: relative;
}

.logoContainer {
  display: flex;
  flex: 1;
  justify-content: center;
}

.logo {
  height: 31px;
  width: 260px;
  cursor: pointer;
}

.userMenuContainer {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.userNameContainer {
  color: #fff;
  position: relative;
  margin-right: 5px;
  margin-top: 5px;

  &:hover, &.userMenuOpen {
    background: #fff;
    color: color1;

    .userName {
      background-color: #fff;
    }

    .userMenu {
      visibility: visible;
    }

    .userMenu:hover {
      visibility: visible;
    }
  }
}

.userName {
  font-size: 14px;
  line-height: 26px;
  padding: 0 5px 5px;
  position: relative;
  z-index: 11;
}

.userMenu {
  background: #fff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .5);
  color: color1;
  visibility: hidden;
  padding: 15px 0 10px;
  position: absolute;
  right: 0;
  top: 31px;
  width: 200px;
  z-index: 10;
}

.userMenuItem {
  align-items: center;
  display: flex;
  margin-bottom: 5px;
  padding: 5px 10px;
  z-index: 10;

  &:hover {
    background: additional12;
  }
}
