@value constants: 'constants.css';
@value primary1, secondary2, primary1opaque from constants;

.container {
  align-items: center;
  background: primary1opaque;
  border-top: 1px solid #fff;
  display: flex;
  height: 100px;
}

.wrap {
  align-items: center;
  align-content: center;
  display: flex;
  height: 100%;
  margin: 0 auto;
}

.avatar {
  border: 1px solid primary1;
}

.orgMeta {
  align-content: center;
  border-right: 1px solid #fff;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 15px;
  padding-right: 80px;
}

.orgName {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.orgLastVerifiedContainer {
  align-items: center;
  background: secondary2;
  border-radius: 8px;
  color: #fff;
  display: flex;
  font-size: 12px;
  height: 25px;
  padding: 0 15px 0 5px;
}

.userMeta {
  color: #fff;
  font-size: 14px;
  line-height: 17px;
}

.userName {
  font-weight: bold;
  margin-bottom: 10px;
}

.userLogin {
  margin-bottom: 10px;
}
