@value constants: 'constants.css';
@value color1, color4, color1_2 from constants;

.container {
  align-items: center;
  background: color1_2;
  border-top: 1px solid #fff;
  display: flex;
  height: 100px;
}

.wrap {
  align-items: center;
  align-content: center;
  display: flex;
  height: 100%;
  margin: 0 auto;
}

.avatar {
  border: 1px solid color1;
}

.orgMeta {
  align-content: center;
  display: flex;
  flex-direction: column;
  min-width: 66px;
}

.orgName {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin: 0 15px 8px;
}

.orgLastVerifiedContainer {
  align-items: center;
  background: color4;
  border-radius: 8px;
  color: #fff;
  display: flex;
  font-size: 12px;
  height: 25px;
  padding: 0 15px 0 5px;
}

.userMeta {
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  margin-left: 15px;
}

.userName {
  font-weight: bold;
  margin-bottom: 10px;
}

.userLogin {
  margin-bottom: 10px;
}
