@value colors: "colors.css";
@value additional1, additional2 from colors;

.container {
  margin: 0 auto;
  max-width: 910px;
  padding: 38px 20px 30px;
}

.input {
  background-color: additional1;
  border: none;
  border-radius: 4px;
  color: additional2;
  display: block;
  font-size: 24px;
  height: 44px;
  outline: none;
  text-align: center;
  width: 100%;
}

.input::-webkit-input-placeholder {
  color: additional2;
  opacity: .5;
}
.input::-moz-placeholder {
  color: additional2;
  opacity: .5;
}
.input:-ms-input-placeholder {
  color: additional2;
  opacity: .5;
}
.input:-moz-placeholder {
  color: additional2;
  opacity: .5;
}

.input:focus::-webkit-input-placeholder {
  color: transparent;
}
