@value colors: 'colors.css';
@value primary1 from colors;

.section {
  margin: 15px 0 20px;
}

.sectionHeader {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.sectionTitle {
  color: primary1;
  font-size: 14px;
  font-weight: bold;
  padding: 0 10px;
}

.sectionContent {
  align-items: center;
  display: flex;
  font-size: 14px;
  margin-bottom: 10px;
}

.itemImage {
  border-radius: 4px;
  margin-right: 10px;
  width: 30px;
}

.viewAll {
  font-size: 12px;
}
