@value constants: 'constants.css';
@value primary1, maxWidth from constants;

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: maxWidth;
}

.styleContainer {}

.styleTitle {
  border-bottom: 1px solid currentColor;
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  line-height: 25px;
}

.styleChildren {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.styleChild {
  overflow: hidden;
  position: relative;
}

.styleChildTitle {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 15px;
}
