@value constants: 'constants.css';
@value primary1 from constants;

.container {
  display: flex;
  flex-wrap: wrap;
}

.styleContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
}

.styleTitle {}

.styleChildren {
  display: flex;
  flex-wrap: wrap;
}

.styleChild {
  border: 1px solid primary1;
  overflow: hidden;
  /*resize: both;*/
  margin: 5px;
}

/*.styleChild:active {
  height: 0;
  width: 0;
}*/

.styleChild ~ div {
  font-size: 10px;
  text-align: center;
}
