@value constants: 'constants.css';
@value primary1, primary3 from constants;

.container {
  font-size: 14px;
}

.item {
  display: flex;
  margin-bottom: 5px;
}

.itemLink {
  text-decoration: none;
}

.itemText {
  color: primary3;
}
