@value constants: 'constants.css';
@value color1_6 from constants;

.container {
  align-items: center;
  cursor: pointer;
  display: flex;
  padding: 3px 1px;
  border-bottom: 1px solid color1_6;
  font-size: 12px;

  &:hover {
    background: color1_6;
    background-clip: content-box;
  }
}

.column {
  padding: 5px;
  margin-right: 10px;
}
