.columns {
  display: flex;
}

.firstColumn {
  padding: 0 20px;
  width: 195px;
}

.secondColumn {
  padding: 0 20px;
  width: 265px;
}

.thirdColumn {
  padding: 0 20px;
  flex: 1;
}

.activity {
  background-image: linear-gradient(#f6f9fc, #fbfdfe);
  border-right: 6px;
  margin-top: 15px;
  padding: 15px;
}
