@value constants: 'constants.css';
@value color1_2, color1_6 from constants;

.columns {
  display: flex;
}

.firstColumn {
  padding: 0 20px;
  width: 195px;
}

.secondColumn {
  padding: 0 20px;
  width: 265px;
}

.thirdColumn {
  padding: 0 20px;
  flex: 1;
}

.activity {
  background: color1_6;
  border-radius: 4px;
  border-right: 6px;
  margin-top: 15px;
  padding: 5px 15px 10px;
}
