@value constants: 'constants.css';
@value maxWidth, additional9 from constants;

.container {
  display: flex;
  max-width: maxWidth;
  margin: 0 auto 30px;
}

.sidebarLeft {
  width: 290px;
  z-index: 1;
}

.main {
  border-top: 2px solid additional9;
  flex: 1;
  margin-left: -3px;
  z-index: 0;
}
