@value constants: 'constants.css';
@value color1 from constants;

.default {
  align-items: center;
  display: flex;
  padding-bottom: 10px;
  width: 100%;

  .label {
    color: color1;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    margin-right: 5px;

    &::after {
      content: ':'
    }
  }

  .input {}
}

.description {
  color: color1;
  font-size: 14px;
  font-weight: bold;
  margin-left: 5px;
  text-align: left;
}
