@value constants: 'constants.css';
@value color1, additional8 from constants;

.container {
  border-radius: 4px;
  /*box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);*/
  display: flex;
  flex-direction: column;
  margin: 10px;
  overflow: hidden;
}

.banner {
  align-items: center;
  background-image: linear-gradient(#4D6688, color1);
  color: #fff;
  display: flex;
  font-size: 15px;
  height: 60px;
  justify-content: center;
  padding: 10px;
  text-align: center;
}
