@value constants: 'constants.css';
@value primary1 from constants;

.container {
  align-items: center;
  color: primary1;
  display: flex;
  margin: 15px 0 10px;
}

.icon {
  font-size: 18px;
  margin-right: 5px;
}

.text {
  font-size: 16px;
  font-weight: bold;
}
