@value constants: 'constants.css';
@value primary1, color3, additional1, additional2, additional7, additional18 from constants;

:global :invalid {
  box-shadow: none;
}

:global :-moz-submit-invalid {
  box-shadow: none;
}

:global :-moz-ui-invalid {
  box-shadow:none;
}

.default {
  padding-bottom: 10px;
  width: 100%;

  .label {
    color: primary1;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
  }

  .input {
    border: 1px solid additional7;
    border-radius: 4px;
    color: primary1;
    display: block;
    font-size: 18px;
    line-height: 35px;
    margin-bottom: 15px;
    outline: none;
    padding: 0 10px;
    width: 100%;
  }

  .input::-webkit-input-placeholder {
    color: color3;
    opacity: .3;
  }
  .input::-moz-placeholder {
    color: color3;
    opacity: .3;
  }
  .input:-ms-input-placeholder {
    color: color3;
    opacity: .3;
  }
  .input:-moz-placeholder {
    color: color3;
    opacity: .3;
  }
}

.narrow {
  align-items: center;
  display: flex;
  padding-bottom: 10px;
  width: 100%;

  .label {
    color: primary1;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    margin-bottom: 5px;
    margin-right: 5px;

    &::after {
      content: ':'
    }
  }

  .input {
    background: additional18;
    border: none;
    color: primary1;
    display: block;
    flex: 1;
    font-size: 14px;
    line-height: 21px;
    outline: none;
    padding: 0 10px;
  }

  .input::-webkit-input-placeholder {
    color: primary3;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .input::-moz-placeholder {
    color: primary3;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .input:-ms-input-placeholder {
    color: primary3;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .input:-moz-placeholder {
    color: primary3;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.search {
  width: 100%;
  z-index: 3;
  
  .input {
    background-color: additional1 !important;
    border: none !important;
    color: additional2  !important;
    font-size: 24px !important;
    height: 45px !important;
    text-align: center !important;
    width: 100% !important;
    z-index: 6 !important;

    &:focus {
      outline: none !important;

      &::placeholder {
        color: transparent !important;
      }
    }

    &::placeholder {
      color: additional2 !important;
      opacity: .5 !important;
    }
  }
}

.input:focus::-webkit-input-placeholder {
  color: transparent;
}
