@value colors: "colors.css";
@value primary1, additional3 from colors;

.container {
  background: primary1;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  padding: 15px;
  text-align: center;
}

.title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.percentages {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.mainPercent {
  font-size: 48px;
  margin-right: 15px;
}

.changePercent {
  color: additional3;
  display: flex;
  font-size: 14px;
  flex-direction: column;
  margin-top: 10px;
}

.increase {
  color: additional3;
  font-weight: bold;
}

.average {
  color: rgba(255, 255, 255, .5);
  margin-bottom: 15px;
}

.historic {
  font-size: 12px;
  text-decoration: underline;
}

.pushBottom {
  margin-bottom: 15px;
}
