@value constants: 'constants.css';
@value primary1, additional9 from constants;

.container {
  border-bottom: 2px solid additional9;
  border-right: 2px solid additional9;
  display: flex;
  margin-left: 20px;
  padding-top: 15px;
}

.tabs {
  color: primary1;
  font-size: 14px;
  margin-right: 20px;
  padding-bottom: 7px;
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

.tabs.isActive {
  border-bottom: 5px solid primary1;
}
