@value constants: 'constants.css';
@value color1, color1_3, color1_6 from constants;

.container {
  border-bottom: 2px solid color1_6;
  border-right: 2px solid color1_6;
  display: flex;
  margin-left: 20px;
  padding-top: 15px;
}

.tabs {
  color: color1_3;
  font-size: 14px;
  margin-right: 20px;
  padding-bottom: 7px;
  text-decoration: none;

  &:focus {
    outline: none;
  }
}

.tabs:hover {
  border-bottom: 5px solid color1_3;
}

.tabs.isActive {
  border-bottom: 5px solid color1;
  color: color1;
  cursor: default;

  &:hover {
    border-bottom: 5px solid color1;
  }
}
