@value constants: 'constants.css';
@value color1 from constants;

.container {
  color: color1;
  font-size: 14px;
}

.container:not(:last-child) {
  margin-bottom: 5px;
}

.key {
  display: inline-block;
  margin-right: 5px;
}

.value {
  display: inline-block;
}
