@value constants: 'constants.css';
@value primary1 from constants;

.container {
  color: primary1;
  font-size: 14px;
}

.container:not(:last-child) {
  margin-bottom: 5px;
}

.key {
  margin-right: 5px;
}

.value {
  font-weight: bold;
}
