@value colors: 'colors.css';
@value primary1 from colors;

.section {
  margin: 15px 0 20px;
}

.sectionHeader {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.sectionTitle {
  color: primary1;
  font-size: 14px;
  font-weight: bold;
  padding: 0 10px;
}

.sectionContent {
  font-size: 14px;
}
