@value constants: 'constants.css';
@value primary1, additional8 from constants;

.avatarContainer {
  background-color: additional8;
  color: primary1;
  display: inline-block;
  overflow: hidden;
  text-align: center;
}

.avatarImage {
  background-size: cover;
  background-repeat: no-repeat;
}
