@value constants: 'constants.css';
@value primary1, additional8 from constants;

.container {
  background-color: additional8;
  color: primary1;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.image {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  position: absolute;
  width: 100%;
}

.icon {
  display: flex;
  height: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
}
