@value constants: 'constants.css';
@value maxWidth from constants;

.container {
  align-items: flex-end;
  display: flex;
  margin: 0 auto 10px;
  max-width: maxWidth;
}

.left {
  display: flex;
}

.center {
  flex: 1;
}

.right {
  display: flex;
}
