@value constants: 'constants.css';
@value primary1, additional1opaque75, additional4 from constants;

.container {
  display: flex;
  justify-content: center;
}

.title {
  color: additional4;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.intro {
  color: primary1;
  font-size: 14px;
  margin-bottom: 20px;
}

.inputGroup {
  align-items: center;
  display: flex;
}

.input {
  flex: 1;
  line-height: 35px;
}

.button {
  background: primary1;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 35px;
  margin-left: 10px;
  outline: none;
  width: 93px;
}
