@value constants: 'constants.css';
@value color1 from constants;

.container {
  display: flex;
  justify-content: center;
}

.title {
  color: color1;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.intro {
  color: color1;
  font-size: 14px;
  margin-bottom: 20px;
}

.inputGroup {
  align-items: center;
  display: flex;
}

.input {
  flex: 1;
  line-height: 35px;
}

.link {
  color: color1;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;

  &:hover {
    text-decoration: underline;
  }
}
