@value constants: 'constants.css';
@value color1, color1_6, additional8 from constants;

.container {
  background-color: additional8;
  color: color1;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.image {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  position: absolute;
  width: 100%;
}

.icon {
  display: flex;
  height: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hoverContainer {
  background: color1_6;
  border-radius: 3px;
  display: flex;
  left: 0;
  margin: 2px;
  padding: 5px;
  position: absolute;
  top: 0;
  z-index: 10;
}
