@value constants: 'constants.css';
@value color1, color1_5, color3, additional1, additional2, additional7, additional18 from constants;

:global :invalid {
  box-shadow: none;
}

:global :-moz-submit-invalid {
  box-shadow: none;
}

:global :-moz-ui-invalid {
  box-shadow:none;
}

.default {
  padding-bottom: 10px;
  width: 100%;

  .label {
    color: color1;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 5px;
  }

  .input {
    background: #fff;
    border: 1px solid additional7;
    border-radius: 4px;
    color: color1;
    display: block;
    font-size: 18px;
    line-height: 35px;
    margin-bottom: 15px;
    outline: none;
    padding: 0 10px;
    width: 100%;
  }

  .input::-webkit-input-placeholder {
    color: color3;
    opacity: .3;
  }
  .input::-moz-placeholder {
    color: color3;
    opacity: .3;
  }
  .input:-ms-input-placeholder {
    color: color3;
    opacity: .3;
  }
  .input:-moz-placeholder {
    color: color3;
    opacity: .3;
  }
}

.narrow {
  align-items: center;
  display: flex;
  padding-bottom: 10px;
  width: 100%;

  .label {
    color: color1;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    margin-bottom: 5px;
    margin-right: 5px;

    &::after {
      content: ':'
    }
  }

  .input {
    background: #fff;
    border: 1px solid color1_5;
    border-radius: 4px;
    color: color1;
    display: block;
    flex: 1;
    font-size: 14px;
    height: 27px;
    line-height: 27px;
    outline: none;
    padding: 0 10px;
  }

  .input::-webkit-input-placeholder {
    color: primary3;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .input::-moz-placeholder {
    color: primary3;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .input:-ms-input-placeholder {
    color: primary3;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .input:-moz-placeholder {
    color: primary3;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.input:focus::-webkit-input-placeholder {
  color: transparent;
}
