@value colors: 'colors.css';
@value primary1, additional5, additional6 from colors;

.section {
  margin: 15px 0 20px;
}

.sectionHeader {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.sectionTitle {
  color: primary1;
  font-size: 14px;
  font-weight: bold;
  padding: 0 10px;
}

.sectionContent {
  font-size: 14px;
}

.activity {
  border-left: 3px solid additional6;
  padding: 0 15px 15px;
  margin-left: 10px;
}

.activity:last-child {
  border: none;
}

.activityHeader {
  color: additional5;
  font-size: 14px;
}
